.footer-btn{
    padding: 16px 0;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    z-index: 2;

    &__content{
        background-color: $primary;
        border-radius: 16px;
        text-align: center;
        padding: 16px 20px;
    }

    .disabled{
        pointer-events: none;
        opacity: 0.6;
    }
}