.stock-app-detail {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @import "./components/header";
  @import "./components/footer";

  &-content {
    flex: 1;

    @import "./components/chart-header";
    @import "./components/chart-detail";
    @import "./components/chart-content";
    @import "./components/chart-footer";
    @import "./components/content-filter";
    @import "./components/content-header";
    @import "./components/content-table";
  }
}

@import "./modal-buy/index";
@import "./modal-confirm-buy/index";
@import "./modal-success/index";
