.information {
  border-radius: 10px;
  border: 1px solid #f2f4f6;
  background: #f2f4f6;
  padding: 16px 20px;
  margin-bottom: 20px;

  &__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    margin-bottom: 16px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      display: flex;
      align-items: center;

      &__avatar {
        margin-right: 16px;
      }

      &__text {
        &__name {
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px; /* 142.857% */
          letter-spacing: -0.084px;
        }

        &__id {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 142.857% */
          letter-spacing: -0.084px;
          color: #8c8f93;
        }
      }
    }

    &__right {
      border-radius: 10px;
      padding: 5px 10px;
      background-color: $text-color;
      color: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 133.333% */
    }
  }
}
