.content-header {
  color: $text-color;

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.34px;
    margin-bottom: 16px;
  }

  &__detail {
    &__title {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
      letter-spacing: -0.176px;
      margin-bottom: 10px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &__left {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
      }

      &__right {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; /* 133.333% */
      }
    }
  }
}
