.portfolio-detail {

    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @import './components/header';
    @import './components/footer';

    &-content {
        flex: 1;

        @import './components/content-header';
        @import './components/nilai-investasi';
        @import './components/transaction-history';
    }
}